<h1>Restaurants#show</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<%= link_to "Delete",restaurant_path(@restaurant), class:"btn btn-primary",
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%= link_to "Edit", edit_restaurant_path, class:"btn btn-secondary",data: {turbo_method: :get} %>

<br><br><br>
<ul>
  <% @reviews.each do |review| %>
    <li><%=review.content%>     <%= review.rating %>
    <%= link_to "Delete Review",review_path, class:"btn btn-secondary",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </li>
  <% end %>
</ul>
<%= link_to "Add Review",  new_restaurant_review_path(@restaurant), class: "btn btn-secondary"%>
